.gradle
build/
sandbox/out/
addressbook-web-tests/out/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
sandbox/out/test/classes/ru/stqa/pft/sandbox/PointDistanceTests.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Square2.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Rectangle.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Rectangle2.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Rectangle3.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Point2.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Point.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/MyFirstProgram3.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/MyFirstProgram2.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/MyFirstProgram.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/HomeWorkTask2.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Square.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Square3.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/PointDistanceTests.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/PointDistanceTests.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/PointDistanceTests.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/PointDistanceTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupCreationTestsTest.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/PointDistanceTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupCreationTests.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/PointDistanceTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/TestBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/SessionHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/TestBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/EquationTests.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Equation.class
addressbook-web-tests/src/test/resources/groups.csv
addressbook-web-tests/src/test/resources/contacts.xml
*.log
